
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Create My Events</title>


  </head>

  <body>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">More Info</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create Event</h4>
          </div>
          <div class="modal-body">
            Awesome! You've decided to create an event locally. Whether it's a picnic or a pirate masquerade, just fill in the information you think others need to know, and hit the "Create Event" button when you're finished. You can manage all your events on another page.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div>
      <td>
          <a href='/users/<%= currentUser._id%>/events' class="btn btn-lg btn-primary">Back</a><hr>
      </td>
    </div>
      <form class="form" action="/users/<%= userId %>/events" method="post">
        <h2 class="form-signin-heading">Create your event</h2>
        <label for="inputEvent" class="sr-only">Event Name</label>
        <input type="event" id="inputEvent" name="name" class="form-control" placeholder="Event Name" required autofocus>
        <label for="inputimg" class="sr-only">Image</label>
        <input type="inputimg" id="inputimg" name="img" class="form-control" placeholder="Event img" >
        <label for="inputdescription" class="sr-only">Description</label>
        <input type="Description" id="inputDescription" name="description" class="form-control" placeholder="Description" >

        <label for="inputCategory" class="sr-only">Category</label>
        <input type="Category" id="inputCategory" name="category" class="form-control" placeholder="Category" >

        <label for="inputdate" class="sr-only">date</label>
        <input type="date" id="inputdate" name="eDate" class="form-control" placeholder="date" >

        <label for="inputTime" class="sr-only">Time</label>
        <input type="Time" id="inputTime" name="eTime" class="form-control" placeholder="Time" >

        <label for="inputaddress" class="sr-only">address</label>
        <input type="address" id="inputaddress" name="address" class="form-control" placeholder="address" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Event</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
      $('body').css('background-image', 'url("/images/fallevent.jpg")')
    </script>
  </body>
</html>
