<h1>Hello Topics</h1>

<div class="container">


<div class="form-group">
  <label for="sel1">Select Category:</label>
  <select class="form-control" id="sel1">
    <% results[1].forEach(function(el) { %>
    <option><%= el.catName %></option>
      <% }) %>
  </select>
</div>

<div class="form-group">
  <label for="sel1">Select Topics:</label>
  <select class="form-control" id="sel1">
    <%  results[2].forEach(function(el) { %>
    <option><%= el.urlkey%></option>
      <% }) %>
  </select>
</div>

<div class="form-group">
  <label for="sel1">Select Cities:</label>
  <select class="form-control" id="sel1">
    <%  results[0].forEach(function(el) { %>
    <option><%= el.cityName%></option>
      <% }) %>
  </select>
</div>


<div class="form-group">
    <label for="InputZip">Zip Code</label>
     <input type="zip" class="form-control" id="zipcode" placeholder="Zipcode">
</div>

<div class="form-group">
    <label for="SearchText">Text Search</label>
     <input type="zip" class="form-control" id="textSearch" placeholder="Search">
</div>

</div>
