
<div class="container">
    <h1>Seach for a meet up event</h1>
    <div class="row">
        <div class="form-group col-md-3">
          <!-- <label for="SearchText">Text Search</label> -->
          <input type="zip" class="form-control" id="textSearch" placeholder="Search by phrase">
            <br>
            <label for="sel1">Category:</label>
            <select class="form-control" id="category">
              <% results[1].forEach(function(el) { %>
              <option><%= el.catName %></option>
              <% }) %>
            </select><br>
            <label for="sel1">  Topic:</label>
            <select class="form-control" id="topics">
              <%  results[2].forEach(function(el) { %>
              <option><%= el.urlkey%></option>
              <% }) %>
            </select> <br>
            <label for="sel1">City:</label>
            <select class="form-control" id="cities">
              <%  results[0].forEach(function(el) { %>
              <option><%= el.cityName%></option>
              <% }) %>
            </select> <br>
            <label for="InputZip">Zip Code</label>
            <input type="zip" class="form-control" id="zipcode" placeholder="Zipcode">
              <br>
            <button id="search-button" type="button" class="btn btn-primary">Search</button>
        </div>

        <div class="row" >
            <div class="form-group col-md-6">
              <ul id="info">
            </ul>
            </div>
        </div>
    </div>


    <script>

    $('#search-button').on('click', function(evt) {
      evt.preventDefault();
      var opts =
      {
        method: 'GET',
        url: '/meetup/eventSearch',

      };
      var cb = function(data){
        console.log(data)
        data.forEach(function(el){
            $('#info').append(el)
        })
      };
      $.ajax(opts).done(cb);
    })



    </script>
