<div class="col-sm-6 col-sm-offset-3">

    <h1>Signup</h1>

    <form action="/signup" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Or, <a href="/login">Login</a></p>
    <p>Go back <a href="/">home</a>.</p>

</div>


<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">More Info</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        You must be new. Welcome! You'll create your account on this page. It's simple, just fill in the fields below. Careful! You only have one chance to get your password right, so make sure you know what's being typed in! We're working on fixing that and conforming to the industry standard.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
