<head>
<style>
  body{
    background-image: url(/images/pulsarmap.png);
    background-size:cover;
  }
  h1{
    color: white;
  }
  /*h3{
    color: #eaeaea
  }*/
</style>
  </head>
  <div class="container">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">More Info</button>
<br> <br>
    <div class="row">

      <div class="jumbotron splashJumbo col-md-12">
        <h1 class="splash-h1">Conduit</h1>
        <h4 class="splash-h6">A resource for organizing events.</h4> <br>
      <%# <div class="row">
        <div class="col-md-4 splashTag splashTag1">Search</div>
        <div class="col-md-4 splashTag splashTag2">Find</div>
        <div class="col-md-4 splashTag splashTag3">Save</div>
        </div>%>
      </div>

  </div>
<hr>
  <div class="text-center col-md-8 col-md-offset-2">

  <% if(!loggedIn){%>
      <a href="/login" class="btn btn-success splash-btn">Log In</a>
  <% } else{ %>
      <a href="/hub" class="btn btn-success splash-btn">Enter</a>
  <%}%>
      <a href="/signup" class="btn btn-info splash-btn">New Account</a>

  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Welcome!</h4>
      </div>
      <div class="modal-body">
      This is the splash page! I'll have to fix this later 'cause I messed it up!'
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
