  .jumbotron {
    /*background-image: url('/images/dancing.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 400px;
    width: 400;
    background-color: rgba(30,30,30,.3);
    color: white;
  }

  .splash-btn {
    width: 200px;
    height: 80px;
    font-size: 25px;
    line-height: 80px;
    margin: 20px;
    padding: 0;
  }

.splashTag {
  /*border: 1px solid white;*/
  width: 200px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  text-align: center;
  font-size: 25px;

}
.splashTag1 {
  background-color: #FDB632;
}
.splashTag2 {
  background-color: #801638;
}
.splashTag3 {
  background-color: #027878;
}

.splash-h4 {
  font-size: 35px;
}
