/*.navbar{
  margin-bottom: 40px;
}
.container-fluid {
  margin-top: 20px;
}*/
#datetime{
  display: inline-block;
}
#event-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

  body{
    background-image: url(/images/rainbow.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #eaeaea;
    font-family: lucida Console, sans-serif;
  }
  .splashJumbo {
    /*background-image: url('/images/dancing.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 400px;
    width: 400;
    background:transparent;
    color: white;
  }

  .splash-btn {
    width: 200px;
    height: 80px;
    font-size: 25px;
    line-height: 80px;
    margin: 20px;
    padding: 0;
  }

  .splashTag {
  /*border: 1px solid white;*/
  width: 200px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  text-align: center;
  font-size: 25px;

}

  .splashTag1 {
  background-color: #FDB632;
}

  .splashTag2 {
  background-color: #801638;
}

  .splashTag3 {
  background-color: #027878;
}

  .splash-h4 {
    font-size: 35px;
  }

  .loginJumbo {
    height: 600px;
    width: 600;
    background-color: rgba(51,51,51,.8);
    color: white;
  }

.searchLeft {
  border: solid 1px grey;
  margin-left: 20px;
  padding: 10px;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: rgba(51,51,51,.8);
  color: white;
}

.searchRight {
     position: relative;
     background: rgba(51,51,51,.8);
      color: white;
     /*overflow: auto;*/
     z-index: 1;
     left: 280px;
     width: 100%;
     heigth: 1000px;
     padding: 10px;
     margin-right: 20px;
}

.results {
  position: relative;
   left: 220px;
   width: 100%;
   height: 300px;

}
.container-fluid {
  /*margin: 20px;*/

}

.tblhead{
  background-color: #444;
  color: white;
  font-size: 20px;
}

#info tr:nth-child(even) {
    background-color: #222;
    padding 2px 0;
    font-size: 18px;
}

#info tr:nth-child(odd) {
    background-color: #000;
    padding 2px 0;
    font-size: 18px;
}

#ifno {
  position: fixed;
}

.meetupSingleEvent {
  color: white;
  font-size: 18px;
  background-color: rgba(51,51,51,.8);
}

.createEventForm {
background-color: rgba(51,51,51,.8);

}

.createEventForm input {
  height: 50px;
  font-size: 20px;
}

.updateEventForm {
  background-color: rgba(51,51,51,.8);
}
.updateEventForm input {
  height: 50px;
  font-size: 20px;
}

.allEvents {
background-color: rgba(51,51,51,.8);
color: white;
padding: 0 30px;
font-size: 20px;
margin: 0 auto;
}


.internalEvent {
  background-color: rgba(51,51,51,.8);
color: white;
}
#resultsSection {

}

#extEventAllTitle {
/*background-color: blue;*/

}
