body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-image: url(/images/rainbow.png);
    background-size:
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
h1{
  color:#eaeaea;
}
